/*
 * Style resets.
 */
* {
  margin: 0;
  padding: 0;
}

li { list-style-type: none; }

/*
 * General styles
 */
a { color: #1987C1; }
a:active {
  background-color: #1987C1;
  color: white;
}

h1 {
  margin: 16px 0;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}

p { margin: 16px 0; }

input[type=text] {
  width: 100%;
  padding: 5px 5px;
}

button, .button, input[type=submit] {
  display: inline-block;
  width: 180px;
  padding: 12px 16px;
  font-size: 16px;
  background-color: #ccc;
  background-color: #F6CC25;
  color: black;
  border: 0;
  border-radius:4px;
  box-shadow: 0px 3px 0px #999;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  height: 40px;
}

button:active, .button:active, input[type=submit]:active {
  position: relative;
  top: 2px;
  box-shadow: 0px 1px 0px #999;
  height: 38px;
  outline: none;
}

input#snooze {
  display: inline;
}

i[class^="icon-"] { text-decoration: none; }

.example {
  font-size: 80%;
  color: #888;
  font-weight: normal;
}

/*
 * Display tables.
 */
table.display {
  border-collapse: collapse;
  width: 100%;
}

table.display th, table.display td {
  padding: 0 10px;
  padding-top: 10px;
  width: 40%;
  vertical-align: bottom;
}

table.display th {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

table.display td.check-path {
  width: 60%;
}

table.display th:first-of-type, table.display td:first-of-type {
  padding-left: 0;
}

table.display th:last-of-type, table.display td:last-of-type {
  text-align: right;
}

html { height: 100%; }
body {
  background-color: #f9f9f9;
  font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  min-height: 100%;
  display: flex;
}

header {
  display: block;
  padding: 40px;
  padding-bottom: 0;
  margin-bottom: 40px;
  width: 100%;
}

#inner-body {
  min-width: 800px;
  flex: 2;
  box-sizing: border-box;
  padding: 0 40px 100px 40px;
}

#watchman-text {
  position: absolute;
  padding: 0 30px;
  right: 160px;
  line-height: 160px;
  font-size: 120px;
  -webkit-transform-origin: top right;
  -webkit-transform: rotate(-90deg);
  -moz-transform-origin: top right;
  -moz-transform: rotate(-90deg);
  color: #F6CC25; /* Yellow */
  font-family: Impact, "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

aside.side-column {
  flex: 1;
  /* max-width is set so that the middle column can expand further for larger displays. */
  max-width: 300px;
  z-index: -1;
}

#black-edge {
  /* Make sure the black edge is always tall enough to contain watchman-text. */
  min-height: 700px;
  position: relative;
  background-color: black;
}

nav li { display: inline-block; }
nav li a {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
  padding-bottom: 15px;
  text-decoration: none;
  color: black;
}
nav li a:active {
  color: #666;
  background: none;
}
nav li.selected a { border-bottom: 3px solid #F6CC25; }
nav a:hover, nav li.selected a:hover { border-bottom: 3px solid black; }

/*
 * Index page.
 */
.check-status .status a { display: block; }
.check-status .up { background-color: #69D166; }
.check-status .up a { color: black; }
.check-status .down { background-color: #D15335; }
.check-status .down a { color: yellow; }
.check-status .unknown { background-color: #e2e2e2; }
.check-status .status a i { display: none; }
.check-status .up a i.icon-ok { display: inline; }
.check-status .down a i.icon-exclamation { display: inline; }
.check-status .unknown a i.icon-question { display: inline; }

table#check-statuses td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
  white-space: nowrap;
}
table#check-statuses td:first-of-type { padding-left: 0; }

table td.host { width: 100%; }
table#check-statuses .last-checked, table#check-statuses .status-last-changed { text-align: right; }

table#check-statuses td.status { text-align: center; }
table#check-statuses tr[data-state="paused"] a .icon-pause { display: none; }
table#check-statuses tr[data-state="enabled"] a .icon-play { display: none; }
table#check-statuses tr[data-state="paused"] .status {
  background-color: #ddd;
  color: #999;
}

table#check-statuses th.pause, table#check-statuses td.pause { border: 0; }
table#check-statuses td.pause a { color: #aaa; }

table#check-statuses tr.failure-message { background-color: #eee; }
table#check-statuses tr.failure-message td {
  /* This is a workaround to prevent long failure messages from distorting the table's cell spacing. */
  max-width: 1px;
  text-align: left;
}
/* This response body can be long and overflow the table. */
table#check-statuses tr.failure-message pre {
  max-width: 690px;
  overflow-x: scroll;
}

/*
 * Roles page.
 */
#roles-page li { margin: 8px 0; }

/*
 * Roles-edit page
 */
#flash-message {
  padding: 10px;
  background-color: #FFEFC2;
}
#roles-edit-page th span.example { margin-left: 8px; }
#roles-edit-page table.display td:last-of-type { vertical-align: middle; }

#roles-edit-page a.add, #roles-edit-page a.remove { text-decoration: none; }
#roles-edit-page a.remove { color: #cc3333; }
#roles-edit-page a:hover { color: black; }
#roles-edit-page a:active { color: white; }

#roles-edit-page th { white-space:nowrap; }

#roles-edit-page input.name {
  width: 200px;
  margin-left: 10px;
}

#roles-edit-page input.path { width: 100%; }

#roles-edit-page input.hostname { width: 400px; }

#roles-edit-page input.expected-status-code, #roles-edit-page input.timeout,

#roles-edit-page input.max-retries { width: 40px; }

#roles-edit-page input.email {
  width: 200px;
  margin: 15px 0 0 10px;
}

#roles-edit-page input.snooze-until {
  width: 200px;
  margin: 15px 0 0 10px;
}

#roles-edit-page input.snooze-duration {
  width: 200px;
  margin-left: 10px;
}

#roles-edit-page p.snooze-desc {
  position: relative;
  left: 195px;
}

.optional { margin: 8px 0 }

#roles-edit-page td.check-send-email { text-align:center; vertical-align:middle; }
