/* Style resets. */
* {
  margin: 0;
  padding: 0;
}

li { list-style-type: none; }

/* General styles */
a { color: #1987C1; }

h1 {
  margin: 16px 0;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}

p { margin: 16px 0; }

input[type=text] { padding: 5px 5px; }

button, .button, input[type=submit] {
  display: inline-block;
  width: 220px;
  padding: 12px 16px;
  font-size: 18px;
  background-color: #ccc;
  background-color: #F6CC25;
  color: black;
  border: 0;
  border-radius:4px;
  box-shadow: 0px 3px 0px #999;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
}

/*
 * Display tables.
 */
table.display {
  border-collapse: collapse;
  width: 100%;
}

table.display th, table.display td {
  padding: 0 10px;
  padding-top: 10px;
  width: 100%;
  vertical-align: bottom;
}

table.display th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

table.display th:first-of-type, table.display td:first-of-type {
  padding-left: 0;
}

table.display th:last-of-type, table.display td:last-of-type {
  text-align: right;
}

body, html {
  height: 100%;
  background-color: #f9f9f9;
}

body {
  font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  margin: 0 auto;
  width: 800px;
  position: relative;
  overflow-x: hidden;
}

header {
  display: block;
  padding: 40px;
  padding-bottom: 0;
  margin-bottom: 40px;
  width: 100%;
}

#inner-body {
  position: relative;
  padding: 0 40px;
}

#watchman-text {
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background-color: black;
  color: #F6CC25; /* Yellow */
}

#black-edge {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  left: -100%;
  background-color: black;
}

#watchman-text div {
  font-family: Impact, "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: relative;
  right: 20px;
  top: 455px;
  -webkit-transform: rotate(-90deg);
  font-size: 120px;
}

nav li { display: inline-block; }

nav li a {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
  padding-bottom: 15px;
  text-decoration: none;
  color: black;
}

nav li.selected a { border-bottom: 3px solid #F6CC25; }

nav a:hover, nav li.selected a:hover { border-bottom: 3px solid black; }

/* Index page. */
.check-status .down {
  background-color: red;
}
.check-status .up {
  background-color: green;
}

table#check-statuses {
  width: 100%;
}
table#check-statuses th {
  text-align: left;
}
table#check-statuses th:last-of-type, table#check-statuses td:last-of-type { text-align: right; }
table#check-statuses td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

/* Roles-edit page */
#roles-edit-page table.display td:last-of-type { vertical-align: middle; }

#roles-edit-page a.add, #roles-edit-page a.remove { text-decoration: none; }

#roles-edit-page a:hover { color: black; }

#roles-edit-page a.remove { color: #cc3333; }

#roles-edit-page th { white-space:nowrap; }

#roles-edit-page input[name=name] {
  width: 200px;
  margin-left: 10px;
}

#roles-edit-page input.path { width: 100%; }

#roles-edit-page input.hostname { width: 400px; }

#roles-edit-page input.expected-status-code, #roles-edit-page input.timeout,

#roles-edit-page input.max-retries { width: 40px; }